@keyframes spin-vertical {
    0% {
      transform: translateY(100%);
    }
    10% {
      transform: translateY(0);
    }
    90% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  .animate-spin-vertical {
    animation: spin-vertical 5s infinite;
  }  